/** @format */

.template {
  display: none;
}

.todo {
  input:checked + span {
    text-decoration: line-through;
  }

  &__li {
    position: relative;
    padding-right: 30px;
    .btn {
      opacity: 0;
      position: absolute;
      transition: opacity 0.3s;
    }

    &:hover .btn {
      opacity: 1;
      transition: opacity 1s;
    }
  }

  &__delete {
    right: 1px;
  }
  &__description {
    width: 100%;
    min-height: 20px;
  }
}
